<style>
    footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
};

    .footer-icon {
    text-decoration: none !important;
    color: white !important;
};

    .footer-icon:hover {
    color: yellow !important;
}

</style>

<footer>
    <div id="icon-links">
        <a style="color:white;" target="_blank" class="footer-icon"  href="https://www.youtube.com/channel/UCVe0gRl18KHjkCm3ZVUQevA"><i class="fa fa-brands fa-youtube"></i> Youtube</a>
    </div>
    <p>© 2021 Made Easy.</p>
</footer>