<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="stylesheets/home.css">
    <body>
        <div class="bodyhead">
            <h2>Made Easy!</h2>
            <hr>
            <p>A platform to empower young people with knowledge and skills. Check out this website or our Youtube channel for more educational resources...</p>
            <p>We provide help for <em>primary, secondary and junior college</em> students</p>
        </div>
        <div class="courses bodyhead">
            <h2 id="courses">Courses</h2>
            <hr>
            <div class="bodyparts">
                <p class="bodyleft">In the courses section, you will get to understand new topics better. There are many topics available across different levels... Choose which level are you in</p>
                <div class="bodybutton">
                    <a href="courses/primary" type="button">Primary</a>
                    <a href="courses/primary" type="button">Secondary</a>
                    <a href="courses/primary" type="button">Junior College</a>
                </div>
            </div>
        </div>
        <div class="challenges bodyhead">
            <h2 id="challenges">Challenges</h2>
            <hr>
            <div class="bodyparts">
                <p class="bodyleft">Would you like to have some challenges in life? Try out some of our carefully-picked challenging questions from selected prelim papers here...  Choose which level are you in</p>
                <div class="bodybutton">
                    <a href="challenges/primary" type="button">Primary</a>
                    <a href="courses/primary" type="button">Secondary</a>
                    <a href="courses/primary" type="button">Junior College</a>
                </div>
            </div>
        </div>
    </body>
