<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="stylesheets/home.css">

<div class="container mt-3">
    <h2>Available Notes</h2>
    <div class="card text-white bg-dark col-lg-8 col-sm-12 my-4">
        <h5 class="card-header">Core Geography</h5>
        <div class="card-body">
          <h5 class="card-title">Secondary 3/4</h5>
          <p class="card-text">Complete notes for O Level Core Geography with Real-world examples and structured explanations</p>
          <a href="https://carousell.app.link/4fbKhMnvlnb" target="_blank" class="btn btn-light">See More</a>
        </div>
      </div>
      <div class="card text-white bg-dark col-sm-12 col-lg-8 my-4">
        <h5 class="card-header">Elect History</h5>
        <div class="card-body">
          <h5 class="card-title">Secondary 3/4</h5>
          <p class="card-text">Complete notes for O Level Elect History with structured examples and explanations</p>
          <a href="https://carousell.app.link/XWCb8hwwlnb" target="_blank" class="btn btn-light">See More</a>
        </div>
      </div>
      <div class="card text-white bg-dark col-sm-12 col-lg-8 my-4">
        <h5 class="card-header">Social Studies</h5>
        <div class="card-body">
          <h5 class="card-title">Secondary 3/4</h5>
          <p class="card-text">Complete notes for O Level Social Studies with structured examples and explanations</p>
          <a href="https://carousell.app.link/ENkLLUHwlnb" target="_blank" class="btn btn-light">See More</a>
        </div>
      </div>
      
</div>
<div class="container mt-3">
    <h2>Available Tuition</h2>
    <div class="card text-white bg-dark col-lg-8 col-sm-12 my-4">
        <h5 class="card-header">Affordable Online Tuition</h5>
        <div class="card-body">
          <h5 class="card-title">Primary, Secondary, JC</h5>
          <p class="card-text">Taught by experienced A Level graduates. Fee starting from $12 / hour only</p>
          <a href="https://carousell.app.link/UhuLOp5wlnb" target="_blank" class="btn btn-light">See More</a>
        </div>
      </div>
      
</div>
<div class="container my-3">
    <h2>For More Information</h2>
    <a target="_blank" href="https://www.carousell.sg/u/thomas.javada/">Contact us</a>
      
</div>