html {
    width: 100%;
}

nav { 
    display: flex;
    background-color: #333;
    align-items: center;

}


.navbar {
    margin: 0;
    padding: 10px;
    align-items: center;
}

#logo {
    margin: 0px 0px 0px 20px;
    white-space: nowrap;
    padding: 20px;
    color: white;
    text-align: center;
}

.navbar a:hover{
    color: white;
}

.learnmorebtn {
    padding: 0.5rem;
}


body {
    margin: 0;
    display: flex;
    flex-direction: column;

}



.bodyhead {
    padding: 5%;
    line-height: 2.0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;

}

.dropdown-item:hover {
    background-color: #343a40!important
}

.video {
    display: block;
    width: 80%;
    align-self: center;
    justify-self: center;
}




#submit-button:hover {
    color: white;
    background-color: #333;
}



/* For mobile phones */
@media only screen and (max-width: 500px) {
    
    body {
        font-size: 1.2rem;
    }

    

    nav {
        display: block;
    }

    .video {
        width: 300px;
        height: 168px;
    }

    .bodyhead{
        display: block;
    }
}



