
<% layout('layouts/boilerplate') %> 

<link rel="stylesheet" href="../stylesheets/challenge.css">


<% let currentNumber = 0; %> 

<div class="bodyhead p-3" >
    <h2 class="question-number">JC Challenge - Maths</h2>
    <h5>Instruction: Try to answer the following questions</h5>
    <hr>  
    <div class="container col-12">
        <p class="question-fill"><%= JCQuestions[currentNumber].question %></p>
        <div class="container d-flex flex-row col-12 form">
            <form class="">
                <input type="text" name="question-number" id="question-number" placeholder="Answer here">
            </form>
            <button  id="submit-button" onclick="submit()">Submit Answer</button>
        </div>
    </div>
    <p class="wrong-sentence">Incorrect! Watch the video below for hints or solutions and try again.</p>
    <p class="correct-answer"></p>
    <iframe class="video" width="512" height="315" src="" allowfullscreen></iframe>
    <% if( currentUser && currentUser.username === admin) { %>
        <h3>Hi admin, New Question</h3>
        <form action="/challenges/jc" method="POST" novalidate class="validated-form">
            <textarea class="form-control my-2" required type="text" name="JCQuestions[question]" id="" placeholder="question"></textarea>
            <input class="form-control my-2" required type="text" name="JCQuestions[answer]" id="" placeholder="answer">
            <input class="form-control my-2" required type="text" name="JCQuestions[youtube_id]" id="" placeholder="video">
            <button class="btn btn-primary">Add question</button>
        </form>
    <% } %> 
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    const JCQuestions = JSON.parse('<%- JSON.stringify(JCQuestions) %>');
</script>
<script src="/javascripts/jc-challenges.js" charset="utf-8"></script>